@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');
:root{
    font-size: 18px;
    --main: #e7dfd8;
}
i{
    font-size: 50px;
    color: white;
    background-color: #000;
    padding: 16px 20px;
    border-radius: 50%;
    display: inline-block;
    margin: -500px 0 20px;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Changa", sans-serif;
    /* font-weight: 400; */
    box-sizing: border-box;
    direction: rtl;
    text-decoration: none;
    color: #000;
}
body,
html{
    height: fit-content;
}
body::after{
    content: '';
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 50%;
    border:50px solid rgba(247, 223, 245, 0.9);
    top: -360px;
    right: -360px;
}
.home{
    display: flex;
    background-color: var(--main);
    height: 700px;
}
.home > div{
    flex-basis: 50%;
}
.logo{
    width: 90px;
}
.home .right .text{
    display: flex;
    width: 80%;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    bottom: 50px;
    z-index: 1000000;
}
.home .right .text h1{
    font-size: 70px;
}
.home .right .text p{
    font-size: 30px;
    margin-bottom: 40px;
}
.home .right .text .btn{
    outline: 1px solid black;
    background-color: transparent;
    width: fit-content;
    padding: 10px 45px;
    font-size: 22px;
    transition: 0.3s;
}
.home .right .text .btn:hover{
    background-color: white;
    outline: none;
}
.home .left img{
    width: 100%;
    height: 100%;
}
.about{
    height: 600px;
    width: 40%;
    margin: auto;
}
h2{
    font-size: 50px;
}
.about p{
    line-height: 30px;
}
.services{
    background-color: var(--main);
}
.services .service{
    width: 88%;
    margin: 20px auto 0;
    gap: 20px;
    flex-wrap: wrap;
}
.services .service > div{
    flex-grow: 1;
    /* flex-basis: 250px; */
}
.services .service > div > div{
    padding: 15px 20px 150px;
    background-color: #fff;
    position: relative;
    flex-basis: 150px;
    /* flex-grow: 1; */
}
.services .service > div > div > p{
    font-size: 30px;
}
.services .service h3{
    font-size: 30px;
    text-align: center;
}
.services .service p{
    font-size: 24px;
}
ul li{
    font-size: 23px;
    padding-right: 10px;
    list-style: none;
    font-weight: 600;
}
ul li::before{
    content: '\2022';
    position: relative;
    right: -5px;
}
.three{
    width: 85%;
    margin: 100px auto;
}
.three img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    transform: rotateY(180deg);
}
@media (max-width: 710px){
    body::after{
        right: -400px;
        top: -400px;
    }
    .home{
        flex-direction: column;
        height: fit-content;
    }
    .home > div{
        flex-basis: 50%;
    }
    .home .right .text{
        margin-top: 20px;
    }
    .home .right .text h1{
        font-size: 49px;
    }
    .home .left img{
        padding: 0 20px;
    }
    h2{
        font-size: 32px;
    }
    .about{
        width: auto;
        padding: 0 10px;
    }
}